.car_d {
      background-color: #fff;
      border-radius: 20px 0 0 20px;
      /*padding: 20px;*/
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 350px; /* Настраиваемая ширина */
    }
	
	.car_d2 {
      background-color: #007bff;;
      border-radius: 0 20px 20px 0;
      /*padding: 20px;*/
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 800px; /* Настраиваемая ширина */
    }

    .titl_e {
      background-color: #ffc107; /* Желтый фон */
      color: #000; /* Черный текст */
      padding: 15px 20px;
      border-radius: 20px 0 0 0 ;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    .info {
      /*font-size: 1em;*/
      line-height: 1.5;
	  font-family: 'Roboto', sans-serif;
	  padding: 30px;
	  padding-bottom: 80px;
	  text-align: center;
      font-size: 16px;
      line-height: 1.5;
    }

    .button_s {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
    }
	
	.button111 {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .butto_n {
      padding: 10px 60px;
      border-radius: 0 0 0 20px;
      border: none;
      font-weight: bold;
      cursor: pointer;
    }

    .yellow-button {
      background-color: #ffc107; /* Желтый */
      color: #000; /* Черный текст */
    }

    .blue-button {
      background-color: #007bff; /* Синий */
      color: #fff; /* Белый текст */
	  position: relative; /* Делает синюю кнопку абсолютной */
	  right: 30px; /* Отступ справа */
	  /* top: 10px;  Отступ сверху */
    }
	.contain_er {
      display: flex;
      margin: 20px 0 20px 0;
    }

    #car_d {
		padding: 15px 20px;
	}
	
    .card:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 0 10px 0 0; /* Закругление нижнего левого угла */
      z-index: -1; /* Помещаем за карточку */
    }
	.topic {
      padding: 10px 60px;
      border-radius: 0 20px 0 0 ;
      border: none;
      font-weight: bold;
      background-color: #ffc107; /* Желтый */
      color: #000; /* Черный текст */
	  font-size: 1.5em;
	  margin-bottom: 20px;
	  text-align: center;
	  padding-top: 43px;
	  padding-bottom: 43px;

    }
	#tic {
	    padding-left: 20px;
		border-right-width: 10px;
		padding-right: 20px;

	}
	.tr {
		color: #ffc107;
		font-size: 18px; 
		border: none; 
		background-color: #007bff; /* Синий */
		cursor: pointer;
		font-size: 16px;
		font-weight: bold;
	}
		
	
	
	
	