
{% load static %}

{% for item in menu %}
    <div class="card" >
        <div class="container1">
            <img src="{{MEDIA_URL}} {{item.image.url}}" alt='{{item.title}}'>
            <div class="text">{{item.title}}</div>
        </div>
        <div class="overlay">
            <div class="overlay-content">
                <h2>{{item.title}}</h2>
                <p> {{item.description}} </p>
                <p> <hr> {{item.value_programs}} <br>программ(ы) обучения
                 <a  style="text-decoration: none;"    href="{% url 'detailed' item.id %}" >
                    <button >Подробнее</button>
                </a>
<!--target="_blank"-->
            </div>
        </div>

    </div>

{% endfor %}
