
{% extends 'main.html' %}
    {% load static %}

{% block content %}
    <p>Тип: {{ detail.get_type_display }}</p>
    <h4>{{ detail.title }}</h4>
    <h4>{{ detail.value_programs }} программ(а/ы)</h4>

{% for item in program %}

    {% if item.kurs == detail.title  %}
        {% if item.get_type_display == detail.get_type_display %}
            <div class="card_detail">

                <h2>{{ item.title }}</h2>
                <h4> {{ item.get_type_display }}</h4>  <!-- Вывод типа  item.id -->
                <p>{{ item.description }}</p>
                <p>Курс: {{ item.kurs }}</p>
                    <a href="{% url 'info_program' item.title   %}"> <button >Подробнее</button></a>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

{% endblock  %}